@font-face {
  font-family: 'Georgia';
  src: url('.eot');
  src: url('.eot?#iefix') format('embedded-opentype'),
       url('.woff') format('woff'),
       url('Georgia.ttf') format('truetype'),
       url('.svg#') format('svg');
  font-style: normal;
  font-weight: normal;
}