#slider_header{
    font-family: 'Lato', sans-serif;
    .slider{
        .auto-play-slider.owl-carousel{
            .owl-item{
                height: 500px;
            }

            .owl-dots{
                display: none;
            }
            .owl-nav{
                position: absolute;
                top: 50%;
                width: 100%;
                button{
                    span{
                        font-size: 0;
                    }
                }
                button.owl-prev{
                    span{
                        margin-top: -30px;
                        position: absolute;
                        left: 1%;
                        content: "";
                        background: url("images/large_left.png") no-repeat 0 0;
                        width: 40px;
                        height: 40px;
                    }
                }
                button.owl-next{
                    span{
                        margin-top: -30px;
                        position: absolute;
                        right: 1%;
                        content: "";
                        background: url("images/large_right.png") no-repeat 0 0;
                        width: 40px;
                        height: 40px;
                    }
                }
            }
            .item{
               // height: 100%;
                .img{
                    width: 100%;
                    //height: 100%;
                    img{
                        background-position: center center;
                        //height: 100%;
                    }
                }
                .content{
                    left: 0;
                    top:0;
                    right: 0;
                    bottom: 0;
                    position: absolute;
                    margin-top: 200px;
                    z-index: 60;
                    color: #fff;
                    text-transform: uppercase;
                    .inner-content{
                        position: relative;
                        max-width: 1170px;
                        margin: auto;
                        &:before{
                            content: "";
                            height: 3px;
                            width: 80px;
                            display: block;
                            background: #D03232;
                        }
                    }
                    h1.title{
                        font-size: 56px;
                        line-height: 17px;
                    }
                    button{
                        color: #fff;
                        margin-top: 30px;
                        padding: 6px 31px 6px 31px;
                        border-radius: 5px;
                        font-size: 13px;
                        text-align: center;
                        min-width: 100px;
                        text-transform: uppercase;
                        display: inline-block;
                    }
                    button.buy{
                        background: #D03232;
                        border: 2px solid transparent;
                        transition: .5s;

                    }
                    button.read{
                        background: transparent;
                        border: 2px solid rgba(255,255,255,.5);
                        transition: .5s;
                    }
                    button.buy:hover, button.read:hover{
                        background: #ddd;
                        color: #333;
                        border: 2px solid transparent;
                    }
                    a{
                        text-decoration: none;
                    }
                }
                .content.center{
                    .inner-content{
                        &:before{
                            margin-top: -50px; 
                            position: absolute;
                            left: 50%;
                            margin-left: -40px;
                        }
                    }
                }
                .tleft{
                    text-align: left;
                    margin-top: 70px;
                    margin-left: 25px;
                }
                .center{
                    text-align: center;
                }
            }
        }
        .auto-play-slider.owl-carousel:hover{
            .owl-nav{
                display: block;
                opacity: 1;
            }
        }
    }
}
//responsive


@media screen and (max-width: 425px) {
    section#slider_header{
        .slider{
            .auto-play-slider.owl-carousel.owl-theme{
                .item{
                    .content{
                        margin-top: 30px;
                        h1{
                            font-size: 18px;
                            line-height: 6px;
                        }
                        p{
                            font-size: 9px;
                        }
                        button{
                            margin-top: 0px;
                        }
                        &.center{
                            margin-top: 0px;
                            .inner-content:before{
                                margin-top: -25px;
                            }
                        }
                    }
                }
            }

        }
    }
}
@media screen and (max-width: 768px) {
    section#slider_header{
        .slider{
            .auto-play-slider.owl-carousel.owl-theme{
                .item{
                    .content{
                        h1{
                            font-size: 37px;
                            line-height: 15px;
                        }
                        p{
                            font-size: 13px;
                        }
                        button{
                            margin-top: 20px;
                        }
                        &.center{
                            margin-top: 100px;
                            .inner-content:before{
                                margin-top: -25px;
                            }
                        }
                        &.tleft{
                            margin-top: 30px;
                        }
                    }
                }
            }

        }
    }
}
@media screen and (max-width: 550px) {
    section#slider_header{
        .slider{
            .auto-play-slider.owl-carousel.owl-theme{
                .item{
                    .content{
                        h1{
                            font-size: 26px;
                            line-height: 11px;
                        }
                        p{
                            font-size: 11px;
                        }
                        button{
                            margin-top: 0px;
                        }
                        &.center{
                            margin-top: 100px;
                            .inner-content:before{
                                margin-top: -25px;
                            }
                        }
                        &.tleft{
                            margin-top: 60px;
                        }
                    }
                }
            }

        }
    }
}