extends _layouts/layout

block content
<<<<<<< HEAD
  include _partials/tienanh.pug
  include _partials/content.pug
=======
  include _partials/header-slider.pug
  include _partials/trang.pug
>>>>>>> e5eee84ca294a8b8cf5b926b43bac4af012dbcc8
