#content
  .content-intro
    .content-intro__box.grey.fleft
      .text-box
        h2 OCEAN FREIGHT
        p The word cargo refers in particular to goods or produce being conveyed generally for commercial gain by ship, boat, or aircraft, although the term is now often extended to cover all types of freight, including that carried by train, van, truck, or container.
        .button-box
          a(href="#") read more
    .content-intro__box.red.fleft
      .text-box
        h2 LoGISTICS
        p The word cargo refers in particular to goods or produce being conveyed generally for commercial gain by ship, boat, or aircraft, although the term is now often extended to cover all types of freight, including that carried by train, van, truck, or container.
        .button-box
          a(href="#") read more
    .content-intro__box.blue.fleft
      .text-box
        h2 AIR FREIGHT
        p The word cargo refers in particular to goods or produce being conveyed generally for commercial gain by ship, boat, or aircraft, although the term is now often extended to cover all types of freight, including that carried by train, van, truck, or container.
        .button-box
          a(href="#") read more
    .clear-fix
  .track-it
    .container
      .insert-track
        input(type="text", name="track",placeholder="Insert tracking number here...")
        input(type="button", value="TRACK IT")
  .why-choose-us
    .container
      .service-title
        h2 why choose us
        p Find reasons to choose us as your freight partner
        .line
      .service-descrip
        .service-descrip__box.fleft
          .descrip__box--colleft.fleft
            img(src="images/school-material.png", alt="")
          .descrip__box--colright.fleft
            .box--colright-title
              h3 Customer Satisfication Tools
              p The word cargo refers in particular to goods or produce being conveyed generally for commercial gain by ship, boat, or aircraft, although the term is now often extended to cover all types of freight, including that carried by train, van, truck, or intermodal container.
          .clear-fix
        .service-descrip__box.fleft
          .descrip__box--colleft.fleft
            img(src="images/bar-chart.png", alt="")
          .descrip__box--colright.fleft
            .box--colright-title
              h3 Management & Reporting
              p The word cargo refers in particular to goods or produce being conveyed generally for commercial gain by ship, boat, or aircraft, although the term is now often extended to cover all types of freight, including that carried by train, van, truck, or intermodal container.
          .clear-fix
        .service-descrip__box.fleft
          .descrip__box--colleft.fleft
            img(src="images/interface.png", alt="")
          .descrip__box--colright.fleft
            .box--colright-title
              h3 Freight Payment Options
              p The word cargo refers in particular to goods or produce being conveyed generally for commercial gain by ship, boat, or aircraft, although the term is now often extended to cover all types of freight, including that carried by train, van, truck, or intermodal container.
          .clear-fix
        .service-descrip__box.fleft
          .descrip__box--colleft.fleft
            img(src="images/curved-arrows.png", alt="")
          .descrip__box--colright.fleft
            .box--colright-title
              h3 Compliance Solutions
              p The word cargo refers in particular to goods or produce being conveyed generally for commercial gain by ship, boat, or aircraft, although the term is now often extended to cover all types of freight, including that carried by train, van, truck, or intermodal container.
          .clear-fix
        .clear-fix
  .service-gallery
    .container
      .service-gallery__item.fleft
        .overlay
        a(href="#")
          img(src="images/pic-1.jpg", alt="")
        .gallery-text
          p service with a smile
          .red-line
        .gradient
      .service-gallery__item.fleft
        .overlay
        a(href="#")
          img(src="images/pic-2.jpg", alt="")
        .gallery-text
          p land delivery by truck
          .red-line
        .gradient
      .service-gallery__item.fleft
        .overlay
        a(href="#")
          img(src="images/pic-3.jpg", alt="")
        .gallery-text
          p land delivery by train
          .red-line
        .gradient
      .clear-fix
  .slide-content     
    .slide-content__colleft.fleft
      .owl-carousel.owl-theme
        .owl-item
          .quote &ldquo;
          p Multi-modal container units, designed as reusable carriers to facilitate unit load handling of the goods contained, are also referred to as cargo, specially by shipping lines and logistics operators.
          span Aline Drummond

    .slide-content__colright.fleft
      img(src="images/bg_square_1.jpg", alt="")
    .clear-fix


                        
        
