footer#footer
    .container
        .row
            .col-sm-4
                .title
                    h3 Our Services
                .line
                ul
                    li
                        a(href="#") Ocean Freight
                    li
                        a(href="#") Sky Freight
                    li
                        a(href="#") Cargo Express
                    li
                        a(href="#") Logistics
                    li
                        a(href="#") Warehousing
                    li
                        a(href="#") Custom Brokerage
            .col-sm-4 
                .title
                    h3 Location
                .line
                .content
                    p Somewhere Over Rainbow
                    p Green World Rainbow Green World
                    p T. 0908 1000 1000
                    p E. contact@exotheme.com
                nav.social-icons
                        ul.list-inline
                            li
                                a(href="#")
                                    i.fab.fa-facebook-f
                            li
                                a(href="#")
                                    i.fab.fa-twitter
                            li
                                a(href="#")
                                    i.fas.fa-rss
                            li
                                a(href="#")
                                    i.fab.fa-google-plus
                            li
                                a(href="#")
                                    i.far.fa-envelope
            .col-sm-4
                .title
                    h3 Buy now
                .line
                .content
                    p Multi-modal container units, designed as reusable carriers to facilitate unit load handling of the goods contained, are also referred to as cargo, specially by shipping lines and logistics operators.
                .press
                    a Buy Now
            .clear-fix
        .row
            p.text-center © Copyright 2015 - GoCargo by ExoTheme