section#slider_header
    .slider
        .auto-play-slider.owl-carousel.owl-theme
            .item
                .img
                    img(src="images/bg-1.jpg", alt="")
                .content.tleft
                    h1.title By Land
                    h1.title By Sea
                    h1.title By air
                    p Freight Solutions For All Industry
                    button.buy Buy Theme
                    button.read Read More
                .clear-fix
            .item
                .img
                    img(src="images/bg-2.jpg", alt="")
                .content.center
                    h1.title DELIVERING EXCELLENCE
                    p We Deliver Fast International Cargo Services
                    button.buy Buy Theme
                    button.read Read More
                .clear-fix
            .item
                .img
                    img(src="images/bg-5.jpg", alt="")
                .content.center
                    h1.title MAKES YOU SMILE
                    p On Time Delivery Don't Worry Be Happy
                    button.buy Buy Theme
                    button.read Read More
                .clear-fix