header#header
    .container
        .row
            .col-sm-3
                .logo.fleft
                    a.logo_img
                        img(src="images/logo.png", alt="")
            .col-sm-9    
                nav.fleft.menu
                    ul.list-inline
                        li
                            a.hover(href="#") Home
                            ul.menu2
                                li
                                    a(href="#") Homepage 1
                                li
                                    a(href="#") Homepage 2
                                li
                                    a(href="#") Homepage 3
                                li
                                    a(href="#") Homepage 4
                        li
                            a.hover(href="#") Services 
                            ul.menu2
                                li
                                    a(href="#") Homepage 1
                                li
                                    a(href="#") Homepage 2
                                li
                                    a(href="#") Homepage 3
                                li
                                    a(href="#") Homepage 4
                                li
                                    a(href="#") Homepage 2
                                li
                                    a(href="#") Homepage 3
                                li
                                    a(href="#") Homepage 4

                        li
                            a.hover(href="#") About Us
                        li
                            a.hover(href="#") Track
                        li
                            a.hover(href="#") News
                        li
                            a.hover(href="#") Gallery
                        li
                            a.hover(href="#") Contact
                nav.menu-icon.float-right
                    ul.list-inline
                        li
                            a(href="#")
                                i.fab.fa-facebook-f
                        li
                            a(href="#")
                                i.fab.fa-twitter
                        li
                            a(href="#")
                                i.fas.fa-rss
                        li
                            a(href="#")
                                i.fab.fa-google-plus
                        li
                            a(href="#")
                                i.far.fa-envelope
            .clear-fix
//#header