header#header
    .logo.fleft
            a.logo_img
                img(src="images/logo.png", alt="")
        nav.fright.menu
            ul
                li
                    a(href="#") Home
                li
                    a(href="#") Services 
                li
                    a(href="#") About Us
                li
                    a(href="#") Track
                li
                    a(href="#") News
                li
                    a(href="#") Gallery
                li
                    a(href="#") Contact
//#header